# MongoDB Connection String (production should be mongodb+srv://)
MONGO_URI=mongodb://127.0.0.1:27017/mindwell
PORT=5000
CLIENT_URL=http://localhost:3000
JWT_SECRET=your_jwt_secret_here
GROQ_API_KEY=your_groq_api_key_here
